In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df=pd.read_csv("/content/drive/MyDrive/DHV/data (1).csv")
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [5]:
import pandas as pd
S1=pd.Series([-3,-1,1,3,5,'gaurav',7.3])
print(S1)

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6       7.3
dtype: object

In [6]:
a=[1,7,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)
print(myvar['y'])

x    1
y    7
z    2
dtype: int64
7

In [7]:
calories={'day1':420,'day2':380,'day3':390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [8]:
print(S1[[2,1,0]])

2     1
1    -1
0    -3
dtype: object

In [9]:
type(S1)

pandas.core.series.Series

In [10]:
S=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(S['a'])

1

In [11]:
#dataframe
data={
    "Calories":[420,380,390],
    "Duration":[50,40,45]
}
df=pd.DataFrame(data)
print(df)

   Calories  Duration
0       420        50
1       380        40
2       390        45

In [12]:
#customized index
data={'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [13]:
#DataFrame
data = {"Calories": [420, 380, 390]}
df = pd.DataFrame(data)

print(df.loc[[0, 1]])

   Calories
0       420
1       380

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Calories  3 non-null      int64
dtypes: int64(1)
memory usage: 152.0 bytes

In [15]:
df.dtypes

Calories    int64
dtype: object

In [16]:
df.columns

Index(['Calories'], dtype='object')

In [17]:
df.size

3

In [18]:
df.describe

<bound method NDFrame.describe of    Calories
0       420
1       380
2       390>

In [19]:
#new column

df['ID'] = [10, 10, 30]

In [20]:
df['ID'].unique()

array([10, 30])

In [21]:
print(df['ID'].value_counts())

10    2
30    1
Name: ID, dtype: int64